/* глобальный стили */
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

/* ---------------------------header------------------ */
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-logo {
  background-color: #ee3643;
}

.main-logo:hover {
  background-color: #ca2c37;
}

.main-logo:active {
  background-color: #ba2732;
}

.header {
  font-family: "Cuprum", Arial, sans-serif;
  }

  .top-line-wrapper {
  width: 100%;
  background-color: #293449;
   }

.top-line {
  display: flex;
  width: 700px;
  height: 42px;
  justify-content: space-between;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
 }

 .top-menu-wrapper {
  display: flex;
  justify-content: space-between;
 }

.top-line a {
  font-family: "Cuprum";
  color: #ffffff;
}
.order {
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
}
.bookmarks:hover,
.basket:hover,
.search:hover {
  background-color: #212a3a;
}

.bookmarks:active,
.basket:active,
.order:active {
  color: rgba(225, 225, 225, 0.6);
}

.search {
  border: none;
  background-color: #293449;
}

.search::placeholder {
  color: #ffffff;
}
.search:focus {
  color:#000000;
  background-color:#ffffff}

.main-desc {
  margin: 0;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
  width: 200px;

}

.phonenumber {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.nav-addres {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.nav-lk {
  list-style: none;
  width: 281px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.nav-lk a,
.personal-area{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
 }

.nav-lk a:hover,
.personal-area-nav a:hover{
  color:#ee3643;
}

/* .personal-area:hover{ тут будут стили для псевдо элементов }*/

.nav-lk a:active,
.personal-area:active,
.personal-area-nav a:active{
  color: rgba(0, 0, 0, 0.3);
}

.personal-area-nav{
list-style: none;
color: #32425c;
text-decoration: underline;
margin: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
justify-content: space-betwen;
}

.personal-area-nav a{
  color: #32425c;
 }

 .lk-field-wrapper {
 width: 299px;
 height: 45px;
 background-color: #ffffff;
 }

 .lk-personal-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-betwen;
  margin-left: auto;
 }

.main-nav {
  background-color: #32425c;

}

.main-nav-list{
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin:0;
  padding: 0;
  height: 60px;
}

.main-nav-list a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-nav-list a:hover {
 background-color: #293449;
}
.main-nav-list a:active {
 color:rgba(255, 255, 255, 0.5);
 background-color: #1d2739;
}

.nav-wrapper {
  width: 100%;
  background-color: #f3f6f8;
  padding-top: 47px;
  padding-bottom: 45px;
  }

.nav-contacts-wrapper {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.middle-nav-wrapper {
  display: flex;
}
/* --------------------- main ------------------ */

/* хлебные крошки */
.breadcrumbs {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  }
/* main catalog */
.catalog-header {
display: block;
height: 89px;
background-color: #f9f5f0;
margin: 0;
padding: 0;
margin-bottom: 20px;
}

.filter {
  display: block;
  margin: 0;
  padding: 0;
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
}
.top-sort {
  width: 700px;
  height: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.top-sort h3 {
  margin: 0;
  padding: 0;
}
.top-sort-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.filter-top-sort-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* main */
.popular-sections,
.pop-services {
  font-family: "Cuprum";
}

.btn {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
}

.btn:hover {
background-color: #ca2c37;
}

.btn:active {
background-color: #ba2732;
}

.btn-section {
  background-color: rgba(0, 0, 0, 0.1);
}
.btn-section:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-section:active {
  background-color: rgba(0, 0, 0, 0.3);
}
/* ------------breadcrumbs---------  */
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a{
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.sections-list,
.pop-services-list{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.sections-list li {
  width: 300px;
}


.sections-list {
  display: flex;
  justify-content: space-between;
}
.pop-services-list {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.pop-services-list li{
  margin-bottom: 20px;
}

.pop-services {
  order: 1;
}

.slider {
  order: -1;
}

.slide-services-wrapper {
  display: flex;
  justify-content: space-between;
}

.sections-list h3,
.pop-services-list h3 {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  list-style: none;
}

.materials {
  background-color: #ffbf47;
}

.tools {
  background-color: #3bbce3;
}

.tech {
  background-color: #dc91d8;
}

.discounts {
  background-color: #8ed78f;
}

.popular-delivery {
  background-color: #ffc047;
}
/*------------- страница каталога------- */
.catalog-main {
  margin-bottom: 60px;
}

/* формы */
.top-sort {
  background-color: #f7f3ec;
}

.top-sort-list,
.top-sort h3,
.filter {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
}

.top-sort-list a {
color: rgba(0, 0, 0, 0.3);
border-bottom: 1px dotted #ee3643;
}

.top-sort-list a:hover {
color: rgba(0, 0, 0, 1);
border-bottom: 1px solid #ee3643;
}
/* я так понимаю, индикатор активности нужно как то по другому обозначать?? */
.top-sort-list a:active {
color: #ee3643;
border-bottom: none;
}

.side-sort {
  border: none;
  margin: 0;
  padding: 0;
}

.side-sort-wrapper {
  width: 220px;
}

.side-sort-cards-wrapper {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.form-header {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.manufacturer-sort,
.source-sort {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-form-sort { /* Вопрос- как <button> в форме стилизовать? рамки не применяются, делать интут type submit? */
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid e5e5e5;
  border-radius: 2px;
}

/* ----------------slider------------------ */
.slider-list {
  margin: 0;
  padding: 0;
  font-family: "Cuprum";
  list-style: none;
  color: #32133f;  /*временно  - потом заменить на #ffffff*/
}

.slider-desc{
  font-size: 36px;
  line-height: 36px;
  font-weight: 800;
  text-transform: uppercase;
}

.slider-text{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

/*----------------популярные товары---------------- */
.popular-items-head-wrapper,
.popular-supliers-head-wrapper {
  height: 89px;
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
}

.popular-items-head,
.popular-supliers-head,
.catalog-header  {
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 30px;
  color:#32425c;
  text-transform: uppercase;
}

.wrapper-pop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*----------- карточка товара ------------*/
.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-card {
border: 1px solid #e5e5e5;
width: 220px;
margin-bottom: 20px;
}

.item-header {
  font-size: 18px;
  line-height: 20px;

}

.item-header a {
  color: #000000;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
}

.current-price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}
.btn-cart {
  background-color: #63a63e;
}

.btn-cart:focus,
.btn-cart:hover {
  background-color: #5fbb2d;
}

.btn-cart:active {
  background-color: #518534;
}

.btn-bookmark {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 2px;
}

.btn-bookmark:focus,
.btn-bookmark:hover {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #32425c;
}

.btn-bookmark:active {
 opacity: 0.3;
}

.catalog-cards-wrapper {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* -----------пагинация------------- */
.pagination {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin-left: 20px;
}

/*Как лучше обратиться к первой цифре пагинации чтобы убрать маргин слева? не пойму к какому ребенку...

 .pagination a:first-child {
  margin-left: 0;
}
*/
.pagination a:hover,
.current-pagination a:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #bdc6ca;
}

.pagination a:active {
  border: 1px solid #ee3643;
}

.current-pagination a {
  color:#ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

/* --------------производители------------ */
.supliers-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.suplier-card {
  width: 220px;
  height: 145px;
  border: 1px solid #e5e5e5;
  }

  .suplier-card:focus,
  .suplier-card:hover{
    border: none;
    box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
  }

  .suplier-card:active{
    opacity: 0.3;
    border: none;
    box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
  }

.popular-supliers-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* -------------сервисы---------------- */
.services {
  background-color: #f9f5f0;
}

.servises-descr {
width: 400px;
}

.services h2 {
  font-family: "Cuprum";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color:#000000;
  text-transform: uppercase;
}

.services h3 {
  font-family: "Cuprum";
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color:#32425c;
  text-transform: uppercase;
}

.services-list {
  list-style: none;
}

.services-list a {
  font-family: "Cuprum";
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color:#ffffff;
  background-color: #32425c;
 }

.services-list a:hover {
 color:#ffffff;
 background-color: #293449;
 }

 .services-slider-list{
   width: 620px;
   margin: 0;
 }
 .services-slider-list p,
 .services-slider-list h3 {
  margin: 0;
  padding: 0;
 }

 .services-slider-list-hide {
   display: none;
 }

.services-slider-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


 /* Каким псевдо классом прописать состояние активности для этого слайдера? active */
 .services-list a:active {
  color:#32425c;
  background-color: #ffffff;
  }

/* ---------раздел о компании (внизу страницы)--------- */
.about {
  width: 540px;
}

.about h3 {
  font-family: "Cuprum";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color:#000000;
  text-transform: uppercase;
}

.delivery-comp {
list-style: none;
}

.delivery-comp a {
  font-family: "Cuprum";
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color:#000000;
}

.about-conatcts-wrapper {
  display: flex;
  justify-content: space-between;
}

/* текст про перфораторы внизу страницы каталога */
.drils-about {
background-color: #f2f6f8;
height: 261px;
}

.drils-about-wrapper {
width: 940px;
margin: 0 auto;
padding-top: 65px;
}

.drils-about h3 {
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color:#000000;
  text-transform: uppercase;
  margin:0;
  padding:0;
}

.drils-about p {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color:#000000;
 }


/* ---------раздел контакты (внизу страницы)--------- */
.contacts {
  width: 300px;
}

.contacts h2 {
  font-family: "Cuprum";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color:#000000;
  text-transform: uppercase;
}

/* ----------footer ----------- */
.footer {
  font-family: "Cuprum";
  color: #ffffff;
  background-color: #32425c;
}
.footer-adress-wrapper {
  width: 330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo-footer-nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.adress-catalog-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-adress,
.footer-phone {
  font-family: "Cuprum";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color:#ffffff;
  margin: 0;
  padding: 0;
}
.footer-nav-list {
  width: 550px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-nav-list a{
  font-family: "Cuprum";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color:#ffffff;
}

.footer-catalog {
  width: 531px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-catalog a{
  font-family: "Cuprum";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color:#ffd180;
}

.footer-nav-list a:hover,
.footer-catalog a:hover{
  text-decoration: underline;
}

.footer-nav-list a:active,
.footer-catalog a:active{
  opacity: 0.5;
}


.copyright {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback {
  list-style: none;
}
.feedback a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color:#ffffff;
}
.feedback span {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color:#ffd180;
}

.feedback span:hover {
  text-decoration: underline;
}

.feedback span:active {
  text-decoration: none;
  color: #ee3643;
}

/*----------- модальное окно напишите нам ---------- */
.modal,
.make-order-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

/* окно добавлен в корзину */
.make-order-modal {
  width: 620px;
  height: 282px;
  background-color: #ffffff;
}

.make-order-modal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
width: 620px;
height: 7px;
background-color: #ee3643;
}

.make-order-modal h2 {
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  margin-left: 100px;
}

.make-order-wrapper {
  padding: 55px 80px 50px 80px;
  }

  .make-order-wrapper h2::after{
    content: "";
      position: absolute;
      background-image: url(../img/icon-mark.svg);
      background-repeat: no-repeat;
      width: 66px;
      height: 66px;
      left: 80px;
      top: 55px;
  }

  .make-order-btn-section {
    background-color: #f1f1f1;
    padding: 37px 80px 37px 80px;
  }

  .order-modal-close {
  position: absolute;
    font-size: 0;
    width: 27px;
    height: 27px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
  right: 10px;
top: 15px;
}

    .order-modal-close::after {
      content: "";
      position: absolute;
      background-image: url(../img/icon-close.svg);
      background-repeat: no-repeat;
      width: 27px;
      height: 27px;
      right: 0;
      top: 0;
      margin: 0;
      padding: 0;
    }
